{% extends 'base.html' %}
{% load static %}
{% block content%}

<div class="container">
    <div class="row">
       <div class="col-6">
           <h1>
           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos quia, cumque fuga placeat deserunt ullam? Id nulla sed aut vitae fugit quam sunt debitis, animi porro, repudiandae omnis sapiente aliquam.
          
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ducimus quaerat perferendis quia, distinctio temporibus vero dignissimos laboriosam et sunt atque harum sed tempore commodi rem officia ipsum? Tenetur, ab!
            </h1>
        </div>
    </div>
</div>

<div class="card-group">
    {% for post in post_list %}
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.excerpt}}</p>
        <p class="card-text"><small class="text-muted">Last updated on {{post.updated_on}}</small></p>
      </div>
    </div>
    {% endfor %}


    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>


{% endblock %}